* {
  padding: 0;
  margin: 0;
  font-family: 'Lato';
}
.b-gradient {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}
.b-gradient div {
display: block;
width: 100%;
height: calc(100% + 200px);
background: linear-gradient(purple, orange);
}
.textContainer {
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
width: 100%;
height: 100%;
}
.comingsoon {
color: white;
font-size: 28pt;
font-weight: 300;
}